
body {
            font-family: Arial, sans-serif;
            background: url("background.jpg") center/cover no-repeat;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 400px;
            background: rgba(255,255,255,0.8);
            padding: 25px;
            margin: 60px auto;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            text-align: center;
        }

        /* h2 {
            margin-bottom: 20px;
            font-size: 28px;
            font-weight: bold;
        } */

        input, textarea {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 8px;
            border: 1px solid #555;
        }

        button {
            background: #7b1e1e;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            opacity: 0.8;
        }

        .info {
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
        }